{% extends 'spares/base_spares.html' %}

{% block content %}
    <h4>Skoda</h4>
    <img src="/static/img/skoda.jpeg" class="img-fluid" alt=""> <br><br>
    Для того, чтобы купить недорогие автозапчасти новые или бу с разбора для Skoda в нашем интернет-магазине в Москве, выберите соответствующую модель.<br>

    Заказав у нас вы получите следующие преимущества:<br>
    1. Состояние товара соответствует описанию: вы получите именно тот товар, который увидели на сайте и хотели купить Skoda.<br>
    2.Оперативная отправка вашего заказа, благодаря наличию всех запчастей на складе в Москве.<br>
    3. Надёжная компания с многолетним опытом работы и именем на рынке - вы не совершаете предоплату непроверенному поставщику.<br>
    4. Дополнительная проверка запчастей командой профессионалов непосредственно перед отправкой.<br>
    5. Наличие скидок по программе лояльности.<br>
    6. Цена на запчасти Skoda не увеличивается за счёт доставки.<br>
    7. Бесплатная доставка до склада транспортной компании или до пунктов выдачи ЕвроАвто.<br>
    8. Бесплатная доставка в Казахстане и Белоруссии.<br>
    9. Возврат денежных средств в случае недопоставки или неработоспособности товара.<br><br><br>

<h3>Связанные товары:</h3><br>
    {% for spare in spares %}
        <h5><a href="{% url 'engines_url' id=spare.id %}">{{ spare.name }} </a></h5>
    {% endfor %}

{% endblock %}
