{% extends 'spares/base_spares.html' %}


{% block content %}

    <div class="container">
        <h4><a class="copyright text-muted">Виды запчастей:</a></h4><br>
          <div class="row">
            {% for category in categories_list %}
              <div class="col-3">
                  <button type="button" class="btn btn-light">
                      <a href="{{ category }}">{{ category }}<br></a>
                  </button>
              </div>
            {% endfor %}
          </div>
    </div>

{% endblock %}
